body {
    margin:0px;
    padding:0px;
    font-family:Arial,Helvetica,sans-serif;
}

#menu_container {
    height: 100%;
    position: fixed;
    background: #ffffff;
    top: 0;
    bottom: 0;
    left: -450px;
    width: 450px;
    overflow: auto;
}

.index>ol{
    overflow-y: auto; 
}

#menu_container ol li {
    margin: 10px;
}

ol ol li:hover {
    background: #f7f7f7;
}

#menu_container ol li a {
    color: black;
    text-decoration: none;
    font-size: 16px;
}

.background_profil {
    background-image: url(../commPic/fond.png);
    background-repeat: no-repeat;
    height: 60px;
}

.pics_profil {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-size: cover;
    /*background-image: url(welcome.png);*/
    margin-top: -65px;
}

.name_profil {
    font-size: 37px;
    /*font-family: 微软雅黑;*/
    font-weight: 400;
    color: #666666;
    margin-top: -50px;
    margin-left: 140px;
    margin-bottom: 40px;
}

.top {
    height: 70px;
    position: fixed;
    top: 0px;
    line-height: 70px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    padding-left: 10px;
    text-align: left;
}

#grey_back {
    display: none;
    background-color: #000000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.card {
    /*width: 90%;*/
    /*height: 300px;*/
    /*background-color: #ffffff;*/
    /*margin: 10px;*/
    /*padding: 20px;*/
    /*color: #666666;*/
    /*font-weight: 300;*/
    /*font-size: 36px;*/
    /*text-align: center;*/
    /*font-family: 'Roboto';*/
    /*box-shadow: 0 0 2px #999999;*/
}

.menu_btn {
    cursor: pointer;
    left: 0px;
    margin-top: 16px;
}

#menu_container ol li a.vip {
    background-color: #ccc;
    color: red;
}

html>body ol {
    margin:0;
    padding:0;
    list-style-type: none;
    counter-reset: level1;
}

ol li:before {
    font-size:20px;
    font-weight:bold;
    content: counter(level1) ". ";
    counter-increment: level1;
    color:#5555FF;
}
ol li ol {
    margin:20px;
    list-style-type: none;
    counter-reset: level2;
}
ol li ol li:before {
    font-size:100%;
    font-weight:bold;
    content: counter(level1) "." counter(level2) " ";
    counter-increment: level2;
    color:#009FCC;
}
ol li span { /* For IE6/7. */
    margin: 0 250px 5px -25px;
}   