body {
    width: 800px;
    margin: 0 auto;
}

pre{
    font-size: 16px;
    line-height: 2em;
    white-space:pre-wrap;
    /*white-space:-moz-pre-wrap;
    white-space:-pre-wrap;
    white-space:-o-pre-wrap;*/
    word-wrap:break-word;
}

ul pre {
    margin: 0px;
}

img {
    display: block;
    margin: -20px auto;
    -webkit-box-shadow: 7px 8px 4px #333333;
    -moz-box-shadow: 7px 8px 4px #333333;
    box-shadow: 7px 8px 4px #333333;
}

p.title{
    font-size: 32px;
    font-family:黑体;
    font-weight:bold;
    text-align: center;
}

h5 {
    font-size: 14px;
    // font-weight: bold;
}

li {
    margin-top: 10px;
}

.explain {
    font-size: 12px;
    text-align: center;
    margin-bottom: -30px;
    margin-top: 1px;

}

.coinImg {
    display: inline;
    border: none;
    margin-left: 13px;
    margin-bottom: -5px;
    -moz-box-shadow: -5px -5px 1px #333333;
    -webkit-box-shadow: -5px -5px 1px #333333;
    box-shadow: -5px -5px 1px #333333;
}

.redBig {
    font-family: 微软雅黑;
    font-size: 17px;
    color: red;
    font-weight: bold;
}

.note {  
    color: blue;
    font-size: 14px;
}

.menu h4 {
    text-indent: 1em;
}

.menu h5 {
    text-indent: 2em;
}

td {
    text-align: center;
}

ul>li{
    line-height:2em;
}