 body {
    width: 800px;
    margin: 0 auto;
    word-wrap: break-word;
    word-break: break-all;
    // border: 1px solid red;
}

pre{
    font-size: 16px;
}

img {
    display: block;
    margin: 0px auto;
    -webkit-box-shadow: 7px 8px 4px #333333;
    -moz-box-shadow: 7px 8px 4px #333333;
    box-shadow: 7px 8px 4px #333333;
}

h1{
    margin: 30px;
    text-align: center;
}

h5 {
    font-size: 14px;
    font-weight: bold;
}

li {
    margin-top: 10px;
}

ul pre {
    margin: 0px;;
}

.explain {
    font-size: 9px;
    text-align: center;
    margin-bottom: -30px;
    margin-top: 1px;

}

.coinImg {
    display: inline;
    border: none;
    margin-left: 13px;
    margin-bottom: -5px;
    -moz-box-shadow: -5px -5px 1px #333333;
    -webkit-box-shadow: -5px -5px 1px #333333;
    box-shadow: -5px -5px 1px #333333;
}

.redBig {
    font-family: 微软雅黑;
    font-size: 17px;
    color: red;
    font-weight: bold;
}

.apparent {
    color: red;
    font-size: 18px;
    font-weight: bold;
}